<!-- views/index.ejs -->
<% include partials/head %>
<% include partials/nav %>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Authentication</h1>

        <p>Login or Register with:</p>

        <!--<a href="/server/login" class="btn btn-default"><span class="fa fa-user"></span> Email Login</a>-->
        <!--<a href="/server/signup" class="btn btn-default"><span class="fa fa-user"></span> Email Signup</a>-->
        <!--<a href="/server/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
        <a href="/server/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>

</div>
<% include partials/footer %>
