<!-- views/profile.ejs -->
<% include partials/head %>
<% include partials/nav %>

  <div class="container">

      <div class="page-header text-center">
          <h1><span class="fa fa-anchor"></span> Profile Page</h1>
          <a href="/server/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <!-- LOCAL INFORMATION -->
      <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3>
                    <span class="fa fa-user"></span> <a href="/server/chat">Chat</a>
                </h3>
            </div>
        </div>
      </div>

  </div>

<% include partials/footer %>
